@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html,
body {
  font: 16px/1.4 Roboto, sans-serif;
}

.page {
  max-width: 400px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  user-select: none;
}

h1 {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 1em;
}

.fifteen {
  width: 100%;
  padding-bottom: 100%;
  background: rgb(250, 164, 250);
  margin-bottom: 1.5rem;
  position: relative;

  button.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
    margin: 0;
    padding: 0;
    border: none;
    background: #000;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px #fff;
    transition: transform .3s ease-in-out;

    span.itemVal {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 84%;
        height: 84%;
        margin: 8%;
        box-shadow: inset 0 0 2px 2px #922ec5;
    }
  }
}

button.shuffle {
    color:#fff;
    background: #000;
    font: 1.2rem/1.4 Roboto, sans-serif !important;
    border: none;
    cursor: pointer;
    padding: 0.5em 1.5em;
    border-radius: 5px;
     transition: all .3s ease-in-out;

    &:hover {
        background: violet;
        color: crimson
    }
}
